<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DjangoShop</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/fb3224ddf2.js" crossorigin="anonymous"></script>
</head>
<style>
    .alert {
      font-size:20px;
      position: absolute;
      padding:1%;
      background-color: white;
    }
  </style>
<body style="background-color: whitesmoke;">

    {% for msg in messages %}
<div id="notif" class="alert rounded-sm shadow-sm m-5 flex flex-row items-center justify-center">{{msg}}
      <button id="close"  class="duration-200 ease-in-out ml-3 text-gray-300 opacity-75"><i class="fa-sharp fa-solid fa-circle-xmark"></i></button>
    </div>
    {% endfor %}



    <div class="bg-white w-100 flex p-3 justify-center lg:justify-start md:justify-start">

      {% if request.user.is_authenticated %}
        <a class="p-2 hover:text-gray-400" href="{% url 'index' %}">Home</a>
        <a class="p-2 hover:text-gray-400" href="{% url 'cart' %}">Cart</a>
        <a class="p-2 hover:text-gray-400" href="{% url 'logout' %}">Logout</a>
      {%else%}
        <a class="p-2 hover:text-gray-400" href="{% url 'index' %}">Home</a>
        <a class="p-2 hover:text-gray-400" href="{% url 'login' %}">Login</a>
        <a class="p-2 hover:text-gray-400" href="{% url 'register' %}">Register</a>
      {% endif %}
    </div>

    <br>
    <br>
    <form action="#" method="POST" class="m-10 flex">
      {% csrf_token %}

        <input type="search" name="search" class="outline-none block w-full p-4 pl-5 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search" required>
        <button type="submit" class=" ml-2 bg-blue-500 p-3 text-white pl-4 pr-4 rounded-lg"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>


    <br>
    <h1 class="text-5xl ml-10 mt-5">Latest Offers</h1>
    <br>
    <hr>
    
    <br>
    <div class="flex flex-col lg:flex-row md:flex-row justify-around">
    {% for product in products%}
    <div class="m-5 p-7 shadow-xl rounded-lg items-center justify-center flex flex-col bg-white">
        <img class="mb-5" src="{{ product.img_url }}" alt="" width="250px" height="250px">
        <h1 class="text-3xl mb-3">{{ product.name }}</h1>
        <b class="mb-5">{{product.price}}AED</b>
        <a class="p-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 ease-in-out duration-100" href="/info/{{product.id}}">View more</a>
    </div>
    {% endfor %}
    </div>  
    <script>
        let close = document.getElementById('close');
        let notif = document.getElementById('notif');
        close.addEventListener('click', ()=> {
          notif.style.opacity = '0';
        })
      </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>